<h1>Products</h1>
<p>All Products:</p>

<% @products.each do |product| %>
	<ul>
		<%= link_to(product.name, product_path(product)) %>, <%= product.description %>, <%= product.price_in_cents %> <br/>
	</ul>
<% end %>
