<h1>Products</h1>
<p>All Products:</p>

<% @products.each do |product| %>
	<ul>
		<%= link_to(product.name, product_path(product)) %>, <%= product.description %>, <%= product.price_in_cents %> <br/>
	</ul>
<% end %>

<%= link_to("Add a New Product", new_product_path) %>